<div class="wrapper">
    <div class="rider_detail">
        <div class="rider_img">
            <img src="../assets/img/car.jpg" alt="">
            <div class="overlay text-white">
                <div class="destination">
                    <p class="dest1">new delhi</p>
                    <hr>
                    <p class="dest2">mumbai</p>
                </div>
            </div>
        </div>
        <div class="rider_content text-center">
            <h1>Heading</h1>
            <p>name : xyz</p>
            <p>name : xyz</p>
            <p>name : xyz</p>
            <div class="button">
                <a href="" class="btn btn-primary me-3">Book Now</a>
                <a href="" class="btn btn-primary ms-3">Book Now</a>
            </div>
        </div>
    </div>
</div>